<div class="text-center mt-64">
  <h1 class="text-3xl text-purple-600">Americamping 2019</h1>
  <p class="text-md text-gray-700">Payson Lakes Campground</p>
  <p class="text-md text-gray-700">July 5-6</p>
  <p class="text-md mt-16 text-gray-400">Signup available soon</p>
</div>
