<div class="p-4 flex justify-center p-8">
  <div class="w-full max-w-lg">
    <h1 class="text-pink-600 block mb-4">You're in! Almost...</h1>
    <p class="mb-4">
      In order to cover all the costs, I'm asking everyone to chip in $20.
    </p>
    <h2 class="text-gray-600 block mb-4">What do you get out of it?</h2>
    <ul class="mb-6 list-disc">
      <li class="mb-3">A super awesome camping experience with a bunch of amazing people you're sure to love 🏕❤️</li>
      <li class="mb-3">An incredibly delicious breakfast burrito cooked by world renowned chef Dennis Beatty (hopefully with help from others too) 🌯</li>
      <li class="mb-3">A really really ridiculously good looking tshirt* 👕</li>
    </ul>
    <h2 class="text-gray-600 block mb-4">Ready to Pay?</h2>
    <p class="mb-4">
      I'm handling all the payments through Venmo.
      Simply tap the button below to pay.
    </p>
    <p class="mb-2">
      I will text you at the number you provided to confirm when I see your payment come in.
      It may take me a couple of hours to notice it.
    </p>
    <p class="mb-12 text-xs italic text-gray-500">
      Sorry I have to do things like work sometimes 😬
    </p>
    <div class="flex flex-wrap justify-center -mx-3 mb-12">
      <div class="w-full md:w-1/2 px-3">
        <%= link("Pay with Venmo", to: Routes.registration_path(@conn, :share), class: "btn") %>
      </div>
    </div>
    <p class="mb-4 text-xs text-gray-500 italics">
      * There is no guarantee on how good the shirts look.
      Also it's possible that they won't be printed in time.
      If that happens, I'll try to get the shirt to you after the campout. Or potentially just refund that part of the cost.
    </p>
    <p class="mb-4 text-xs text-gray-500 italics">
      All other refunds will be possible until 7 days before the event. After that time only 50% of the fee can be refunded.
    </p>
  </div>
</div>
